.signup-form{
    background-image: url('C:\Users\anshi\Task_Manager_Page\client\src\components\registration\pngtree-rVl5TAhb0-transformed.png');
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.3);
}